<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="application.properties"/>

    <context id="dsql" targetRuntime="MyBatis3DynamicSql" defaultModelType="flat">
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>

        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin">
            <property name="useEqualsHashCodeFromRoot" value="true"/>
        </plugin>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin">
            <property name="useToStringFromRoot" value="true"/>
        </plugin>
        <plugin type="com.lineage.server.infrastructure.persistence.mybatis.plugin.RenameDoPlugin"/>

        <commentGenerator type="com.lineage.server.infrastructure.persistence.mybatis.generator.CustomCommentGenerator">
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="author" value="HamaWhite"/>
            <property name="version" value="${application.version}"/>
            <property name="dateFormat" value="yyyy/MM/dd HH:mm:ss"/>
        </commentGenerator>

        <jdbcConnection
                driverClass="${spring.datasource.driver-class-name}"
                connectionURL="${spring.datasource.url}"
                userId="${spring.datasource.username}"
                password="${spring.datasource.password}"/>

        <javaModelGenerator targetPackage="com.lineage.server.infrastructure.persistence.dos"
                            targetProject="lineage-server/lineage-server-infrastructure/src/main/java"/>

        <javaClientGenerator targetPackage="com.lineage.server.infrastructure.persistence.mapper"
                             targetProject="lineage-server/lineage-server-infrastructure/src/main/java"/>

        <table tableName="bas_task" domainObjectName="Task">
            <generatedKey column="task_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="bas_plugin" domainObjectName="Plugin">
            <generatedKey column="plugin_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="bas_catalog" domainObjectName="Catalog">
            <generatedKey column="catalog_id" sqlStatement="Mysql" identity="true"/>
            <columnOverride
                    column="catalog_type"
                    javaType="com.hw.lineage.common.enums.CatalogType"
                    typeHandler="com.lineage.server.infrastructure.persistence.mybatis.handler.impl.CatalogTypeHandler"/>
        </table>
        <table tableName="bas_function" domainObjectName="Function">
            <generatedKey column="function_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="rel_task_sql" domainObjectName="TaskSql">
            <generatedKey column="sql_id" sqlStatement="Mysql" identity="true"/>
            <columnOverride
                    column="sql_type"
                    javaType="com.hw.lineage.common.enums.SqlType"
                    typeHandler="com.lineage.server.infrastructure.persistence.mybatis.handler.impl.SqlTypeHandler"/>
            <columnOverride
                    column="parse_status"
                    javaType="com.hw.lineage.common.enums.ParseStatus"
                    typeHandler="com.lineage.server.infrastructure.persistence.mybatis.handler.impl.ParseStatusTypeHandler"/>
        </table>

        <table tableName="rel_task_lineage" domainObjectName="TaskLineage"/>
    </context>

</generatorConfiguration>