.expand-down-icon {
  position: absolute;
  right: -15px;
  top: 9px;
}
.shrink-up-icon {
  position: absolute;
  left: -15px;
  top: 9px;
}
.expand-up-icon {
  position: absolute;
  left: -15px;
  top: 9px;
}
.shrink-down-icon {
  position: absolute;
  right: -15px;
  top: 9px;
}
.top-icon {
  cursor: pointer;
  margin: 0 2px;
  padding: 0 3px;
  height: 16px;
  line-height: 13px;

  &:hover {
    border-radius: 5px;
    background: rgba(0,0,0,0.06);
  }

  &.active {
    border-radius: 5px;
    background: rgba(0,0,0,0.06);
  }
}
.disabled {
  cursor: no-drop;
}