.FBH,
.FBV {
  display: flex;
}
.FBV {
  flex-direction: column;
}
.FBAS {
  align-items: flex-start;
}
.FBAC {
  align-items: center;
}
.FBAE {
  align-items: flex-end;
}
.FBAST {
  align-items: stretch;
}
.FBAB {
  align-items: baseline;
}
.FBJS {
  justify-content: flex-start;
}
.FBJC {
  justify-content: center;
}
.FBJE {
  justify-content: flex-end;
}
.FBJ {
  justify-content: space-between;
}
.FBJB {
  justify-content: space-between;
}
.FBJA {
  justify-content: space-around;
}
.FBAS-M {
  align-content: flex-start;
}
.FBAC-M {
  align-content: center;
}
.FBAE-M {
  align-content: flex-end;
}
.FBAST-M {
  align-content: stretch;
}
.FBAB {
  align-content: space-between;
}
.FBAA {
  align-content: space-around;
}
.FBAS-S {
  align-self: flex-start;
}
.FBAC-S {
  align-self: center;
}
.FBAE-S {
  align-self: flex-end;
}
.FBAB-S {
  align-self: baseline;
}
.FBAST-S {
  align-self: stretch;
}
.FB1 {
  flex: 1;
}
.FB2 {
  flex: 2;
}
.FB3 {
  flex: 3;
}
.FB4 {
  flex: 4;
}
.FB5 {
  flex: 5;
}
.FB6 {
  flex: 6;
}
.FB7 {
  flex: 7;
}
.FB8 {
  flex: 8;
}
.FB9 {
  flex: 9;
}
.FB10 {
  flex: 10;
}
