.catalog-list {
  height: 600px;
  overflow: scroll;
}
.list-item:hover {
  box-shadow: 0 2px 5px #eee;
  border: 1px solid #2f77ff;
  cursor: pointer;
}
.list-item .item-logo {
  width: 30px;
  height: 30px;
}
.list-item .item-content{
  width: calc(100% - 30px);
}
.list-item-wrapper {
  position: relative;
}
.list-item-wrapper .options {
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
}
.list-item-wrapper:hover .options {
  display: block;
}
.item-content .item-info{
  width: 100%;
  line-height: 30px;
  color: #666;
  font-size: 14px;
  padding-right: 10px;
}

/* detail css */
        
.left-tree {
  width: 270px;
}
.left-tree-box {
  border-right: 1px solid #ddd;
}